:root {
  --branding-color: #daf8fd;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h2,
p {
  font-family: var(--secondary-font-family);
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 140px;
}

.hero h1 {
  font-size: 58px;
  margin-bottom: 28px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 32px;
}
