:root {
  --branding-color: #455a64;
  --secondary-color: #eceff1;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --box-shadow: 10px 10px 30px 2px rgb(0 0 0 / 12%);
}

h1,
h4 {
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h2,
h3,
p {
  font-family: var(--secondary-font-family);
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 38px;
}

img {
  border-radius: 4px;

  box-shadow: var(--box-shadow);
}

.fa-genderless {
  font-size: 40px;
  margin: 0 30px;
}

.nav-link {
  padding: 0 40px !important;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 70px 20px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 28px;
}

.hero h2 {
  font-size: 38px;
  margin-bottom: 48px;
}

.content-header {
  margin-top: 20px;
  padding: 100px 20px;
}

.content-header h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-header h2 {
  line-height: 1.5;
}

.content-header p {
  line-height: 1.5;
  font-size: 18px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 10px;
}

.btn-branding:hover {
  color: white;
}

.btn-outline-branding {
  color: var(--branding-color);
  border-color: var(--branding-color);
}

.btn-outline-branding:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.project-description {
  margin-top: 90px;
}

.project-description h2 {
  font-size: 48px;
  font-family: var(--primary-font-family);
}

.content {
  text-align: center;
  margin: 80px 0px 0px 0px;
}

.content h3 {
  font-size: 24px;

  margin-top: 28px;
}

.content p {
  font-size: 14px;
}

.content img {
  height: 448px;
  object-fit: scale-down;
}

footer {
  margin: 80px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 5px;
}

footer .contact-box p {
  margin: 0;
}

footer .btn-branding {
  margin-top: 6px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: rgb(99, 99, 99);
}

footer .social-links i {
  font-size: 36px;
  margin: 40px 25px;
  padding: 20px;
  border-radius: 50px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

footer .social-links i:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  .hero {
    padding: 40px 20px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 22px;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .content-header {
    text-align: center;
    padding-top: 20px;
  }

  .content-header h1 {
    font-size: 48px;
    line-height: 1.2;
  }

  .project-description {
    text-align: center;
    margin-top: 70px;
  }

  footer .contact-box {
    margin: 0 0 30px 0 !important;
    padding: 20px;
  }

  footer .btn-branding {
    font-size: 18px;
    padding: 10px;
  }

  footer h4 {
    font-size: 24px;
  }
}
